@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply appearance-none;
  }
}

/* Disable lastpass icon from appearing */
input.lp-ignore + div[data-lastpass-icon-root] {

display: none !important;

}
div.css-1obar3y {
  display: none!important;
}

input.noLastPassStyle {
    background-image:none !important;
    background-attachment:none !important;
    padding-right:0 !important;
    border:1px solid #ABADB3 !important;
}
